.home {
  font-family: "adobe-garamond-pro", serif;
  color: white;
}

.next {
  font-family: "adobe-garamond-pro", serif;
  color: white;
}

body {
	background: #FEC0CB;
}

.special {
  font-family: "sudestada", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  color: #2790ad;
  display: flex;
  flex-direction: column;
  text-align:  center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 13%;
  margin-left: 18%;
  margin-right: 5%;
}

#text {
  font-family: "coronette", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  color: #fefefc;
  display: flex;
  flex-direction: column;
  text-align:  center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 55%;
  left: 48%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1300px) {
  .special {
    font-size: 70px; /* tablets */
    top: 19%; 
  }
}

@media screen and (max-width: 1000px) {
  .special {
    font-size: 60px; /* tablets */
    margin-top: 2%; 
  }
}

@media screen and (max-width: 800px) {
  .special {
    font-size:50px; /* phones */
    top: 23%; 
  }
}

@media screen and (max-width: 650px) {
  .special {
    font-size:40px; /* phones */
    top: 25%; 
    left: -5%;
  }
}

.centered-video {
  display: flex;
  flex-direction: column;
  text-align:  center;
  align-items: center;
  height: 700px;
}






