.home {
  font-family: "adobe-garamond-pro", serif;
  color: #DA1884;
}

.next {
  font-family: "adobe-garamond-pro", serif;
  color: #DA1884;
}

body {
    background-image : url('pinkbackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    min-height: 500px;
    background-position: center;
    background-size: cover;


}

p {
    position: absolute;
    font-family: "vendetta", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: navy;
}


.moving1:hover {
    color: red;
}
.moving2:hover {
    color: red;
}
.moving3:hover {
    color: red;
}


p1 {
    position: absolute;
    font-family: "park-lane", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: navy;
    left:640px;
    top:1000px
    margin: 0px
}



.one {
    border: 1px solid transparent;
}

.moving-text {
    position: absolute;
    width: 80px;
    height: 30px;
    transition: transform 4s ease-in-out;
    font-family: "park-lane", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: navy;
}




    .shape {
      margin: 200px 0;
      left:600px;
      position: relative;
      display: block;
      color: floralwhite;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid floralwhite;
      border-left: 100px solid transparent;
      transform: rotate(35deg);
    }
    .shape:before {
      border-bottom: 80px solid floralwhite;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
    .shape:after {
      position: absolute;
      display: block;
      color: floralwhite;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid floralwhite;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }
    .shape {
        transition: all 2s ease;
        }
    .shape:hover {
  -webkit-transform: rotate(360deg) scale(1.5);
  transform: rotate(360deg) scale(1.5);
  cursor: pointer;
    }

.star-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -5;
}

.star {
  position: absolute;
  display: inline-block;
  color: lightpink;  
  font-size: 20px;
  white-space: nowrap;
  animation: moveStars linear infinite;
  animation-duration: 5s;
}

@keyframes moveStars {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.star:nth-child(1) { top: 10%; left: 68%; animation-delay: 0.2s; }
.star:nth-child(10) { top: 15%; left: 1%; animation-delay: 2s; }
.star:nth-child(2) { top: 20%; left: 3%; animation-delay: 0.4s; }
.star:nth-child(11) { top: 25%; left: 33%; animation-delay: 0.4s; }
.star:nth-child(3) { top: 30%; left: 27%; animation-delay: 0.6s; }
.star:nth-child(12) { top: 35%; left: 99%; animation-delay: 0.9s; }
.star:nth-child(4) { top: 40%; left: 82%; animation-delay: 0.8s; }
.star:nth-child(13) { top: 45%; left: 22%; animation-delay: 0.4s; }
.star:nth-child(5) { top: 50%; left: 57%; animation-delay: 1s; }
.star:nth-child(6) { top: 60%; left: 13%; animation-delay: 1.2s; }
.star:nth-child(7) { top: 70%; left: 78%; animation-delay: 1.4s; }
.star:nth-child(8) { top: 80%; left: 12%; animation-delay: 1.6s; }
.star:nth-child(9) { top: 90%; left: 95%; animation-delay: 1.8s; }
