.buttons {
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "adobe-garamond-pro", serif;
    font-size: 15px;
    color: #FFC1CC;
}

body {
    margin: 0;
}

div {
    text-align: left;
    font-family: "sway-variable", sans-serif;
    font-variation-settings: "wght" 300;
    transition: 700ms ease;
    font-size: 100px;
}

.top-left:hover {
    font-variation-settings: "wght" 500; 
    letter-spacing: 1px;
    transform: skewX(-8deg);
}

p {
    font-family: "mrs-eaves", serif;
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    color: #FFC1CC;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
  
li {
    height: 60vh;
    flex-grow: 1;
}

img {
    transition: 300ms ease;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

li:last-child {
    flex-grow: 10;
}


 


.container {
    position: relative;
    text-align: center;
    color: white;
}

.container:hover .image, .container.hover .image {
    -webkit-filter: none;
    filter: none;
}

.image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.top-left {
    position: absolute;
    top: 40px;
    left: 40px;
}

.centered {
    position: absolute;
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%);
}

@media (max-aspect-ratio: 1/1) {
    li {
        height: 30vh;
    }
}
  
@media (max-height: 480px) {
    li {
        height: 80vh;
    }
}

  
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }
    img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

.star-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star {
  position: absolute;
  display: inline-block;
  color: #FFC1CC;  
  font-size: 40px;
  white-space: nowrap;
  animation: moveStars linear infinite;
  animation-duration: 5s;
}

@keyframes moveStars {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.star:nth-child(1) { top: 10%; left: 68%; animation-delay: 0.2s; }
.star:nth-child(10) { top: 15%; left: 1%; animation-delay: 2s; }
.star:nth-child(2) { top: 20%; left: 3%; animation-delay: 0.4s; }
.star:nth-child(11) { top: 25%; left: 33%; animation-delay: 0.4s; }
.star:nth-child(3) { top: 30%; left: 27%; animation-delay: 0.6s; }
.star:nth-child(12) { top: 35%; left: 99%; animation-delay: 0.9s; }
.star:nth-child(4) { top: 40%; left: 82%; animation-delay: 0.8s; }
.star:nth-child(13) { top: 45%; left: 22%; animation-delay: 0.4s; }
.star:nth-child(5) { top: 50%; left: 57%; animation-delay: 1s; }
.star:nth-child(6) { top: 60%; left: 13%; animation-delay: 1.2s; }
.star:nth-child(7) { top: 70%; left: 78%; animation-delay: 1.4s; }
.star:nth-child(8) { top: 80%; left: 12%; animation-delay: 1.6s; }
.star:nth-child(9) { top: 90%; left: 95%; animation-delay: 1.8s; }