body {
    background: url('sweater.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}


.home, .next {
    font-family: "adobe-garamond-pro", serif;
    color: #FF007F;
    position: fixed;
    top: 10px;
    left: 10px; 
}

.next {
    left: 50px;
}


.content {
    color: white;
    text-align: center;
    padding: 50px;
    font-family: "findreplace", sans-serif;
	font-weight: 400;
	font-style: normal;
    z-index: 1;
}


h1 {
	    font-size: 140px;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 100px; 
    }
    p {
        font-size: 10px;
    }
    .text {
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 70px; 
    }
    p {
        font-size: 10px;
    }
    .text {
        font-size: 10px;
        
    }
    .content {
        padding: 20px;
    }
}

body { 
  color: black;
  padding: 0;
  margin: 0;
}

body {
    color: black;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text {
    padding: 20px 0;
    display: flex;
    position: absolute;
    position: relative;
    color: #FF007F;
}

.items {
    display: flex;
    flex-direction: column;
}

.item-1,
.item-2,
.item-3 {
    position: absolute;
    padding: 20px 0;
    margin: 0;
    margin-left: 5px;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1 {
    animation-name: anim-1;
}

.item-2 {
    animation-name: anim-2;
}

.item-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%, 8.3% {
        top: -50%;
        opacity: 0;
    }
    8.3%, 25% {
        top: 0%;
        opacity: 1;
    }
    33.33%, 100% {
        top: 50%;
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%, 33.33% {
        top: -50%;
        opacity: 0;
    }
    41.63%, 58.29% {
        top: 0%;
        opacity: 1;
    }
    66.66%, 100% {
        top: 50%;
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%, 66.66% {
        top: -50%;
        opacity: 0;
    }
    74.96%, 91.62% {
        top: 0%;
        opacity: 1;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}

.img-1 {
    width: 380px;
    top: 0px;
    left: 0px;
    /* margin-top: -25%; 
    margin-left: -60%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -10; 
}

.img-2 {
    width: 300px;
    top: 120px;
    left: 350px;
    /* margin-top: -17%; 
    margin-left: -42%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -9; 
}

.img-3 {
    width: 350px;
    top: 300px;
    left: 250px;
    /* margin-top: -5%; 
    margin-left: -50%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -8; 
}

.img-4 {
    width: 300px;
    top: 0px;
    left: 650px;
    /* margin-top: -25%; 
    margin-left: -21%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -6;  
}

.img-5 {
    width: 585px;
    top: 150px;
    left: 550px;
    /* margin-top: -16%; 
    margin-left: -20%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -7;  
}

.img-6 {
    width: 400px;
    top: 460px;
    left: -20px;
    /* margin-top: 8%; 
    margin-left: -68%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -2; 
}

.img-7 {
    width: 440px;
    top: 460px;
    left: 450px;
    /* margin-top: 8%; 
    margin-left: -30%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -8;  
}

.img-8 {
    width: 440px;
    top: 120px;
    left: 0px;
    /* margin-top: -30%; 
    margin-left: 15%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -11;  
}

.img-9 {
    width: 440px;
    top: -30px;
    left: 1025px;
    /* margin-top: -30%; 
    margin-left: 10%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -6;  
}


.img-10 {
    width: 440px;
    top: 410px;
    left: 1010px;
    /* margin-top: 3%; 
    margin-left: 8%;
    transform: translateX(-50%); */
    position: absolute;
    z-index: -8;  
}


.skatinggif {
    width: 35%;
    margin-top: 0px;
    margin-left: 5%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1; 
}

.system {
    margin-left: 115%;
    height: 100vh;
    transform: translateX(-50%);
    position: absolute;
    z-index: 1; 
}

.clickable-image {
    cursor: pointer; 
}

.star-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  display: inline-block;
  color: white;  
  font-size: 40px;
  white-space: nowrap;
  animation: moveStars linear infinite;
  animation-duration: 5s;

}

@keyframes moveStars {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.star:nth-child(1) { top: 10%; left: 68%; animation-delay: 0.2s; }
.star:nth-child(10) { top: 15%; left: 1%; animation-delay: 2s; }
.star:nth-child(2) { top: 20%; left: 3%; animation-delay: 0.4s; }
.star:nth-child(11) { top: 25%; left: 33%; animation-delay: 0.4s; }
.star:nth-child(3) { top: 30%; left: 27%; animation-delay: 0.6s; }
.star:nth-child(12) { top: 35%; left: 99%; animation-delay: 0.9s; }
.star:nth-child(4) { top: 40%; left: 82%; animation-delay: 0.8s; }
.star:nth-child(13) { top: 45%; left: 22%; animation-delay: 0.4s; }
.star:nth-child(5) { top: 50%; left: 57%; animation-delay: 1s; }
.star:nth-child(6) { top: 60%; left: 13%; animation-delay: 1.2s; }
.star:nth-child(7) { top: 70%; left: 78%; animation-delay: 1.4s; }
.star:nth-child(8) { top: 80%; left: 12%; animation-delay: 1.6s; }
.star:nth-child(9) { top: 90%; left: 95%; animation-delay: 1.8s; }



